.container {
  font-family: sans-serif;
  padding: 0px 5px;
 
}

.title {
  text-align: center;
  color: rgb(11, 11, 15);
  border: 2px solid black;
}

.flex-hor {
  display: flex;
  /* align-items: center;
  justify-content: center; */
}
.flex-hor > div {
  margin: 6px;
}
.dmg{
  color: rgb(252, 52, 52);
  border: 2px solid black;
  border-radius: 5px;
  padding: 7px;
}
.dfc{
  color: rgb(32, 55, 184);
  border: 2px solid black;
  border-radius: 5px;
  padding: 7px;
}
.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #c1d320;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}